.errors {
  color: red;
  text-align: center;
}

.form {
  height: 100%;
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 15px;
  margin-top: 3%;
  text-align: center;
}

.movie-show {
  overflow-x: hidden;
}

.movie-show > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-show > .row::-webkit-scrollbar {
  display: none;
}

.text {
  padding-right: 7px;
}

.App {
  /* background-image: url("https://wallpaperaccess.com/full/752715.jpg"); */
  color: rgb(255, 255, 255);
  position: relative; 
  height: 110vh;
  width: 100%;
}

.App::before {    
  content: "";
  display: block;
  background-image: url("https://wallpaperaccess.com/full/752715.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.content {
  position: relative;
  opacity: 1;
}



.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .hover-effect {
  opacity: 1;
}

.hover-effect {
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 92.5%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.watch_card {
  color: black;
  text-align: center;
}

.random {
  text-align: center;
}

.search {
  width: 50%;
  border-color: white;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.search:focus {
  background-color: black;
  border-color: black;
  border-radius: 4px;
  color: white;
}

#image {
  width: 300px;
  height: 400px;
}

#head {
  font-size: 50px;
}

#rando {
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;

}

#card {
  color: black;
  width: 50%;
  height: 10%;
}

#logged-in {
  margin-left: 10px;
}
